VITE_SUPABASE_URL=https://rjsyxhfzmrbzxhyjwmzw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqc3l4aGZ6bXJienhoeWp3bXp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NTk4MzYsImV4cCI6MjA3NzIzNTgzNn0.pB-5a4muEBjExOSIDLn4wXgp3ZAOmOLYyW4uONzvXKo
